@import './Signup.css';

.login-form {
  box-shadow: 0 10px 40px rgba(44,62,80,0.13), 0 4px 12px rgba(67,97,238,0.08);
}

.login-form button {
  background: linear-gradient(90deg, #2734a3 0%, #7386d5 100%);
}

.login-form button:hover {
  background: linear-gradient(90deg, #2e3bb6 0%, #536DFE 100%);
}
